    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #1A94FF;
    height: 64px;
    padding: 12px 100px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 20;
    right: 0;
    left: 0;
    top: 0;
}

 header .logo {
    height: 90%;
    width: 10%;
    background-image: url('../../../public/logotsp.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
} 

header .search {
    display: flex;
    height: 90%;
    background-color: #F2F1F3;
    width: 40%;
    border-radius: 7px;
    margin-right: 3.9%;
}

header .search .search__icon-search {
    color: #707070;
    height: 100%;
    width: 10%;
    padding: 10px 0px;
}

header .search .search__icon-search:hover {
    opacity: 0.7;
    cursor: pointer;
}


header .search .search__input-search {
    background-color: #F2F1F3;
    width: 85%;
    border: 0;
}

header .list-option__item {
    line-height: 36px;
    border-radius: 10px;
}

header .list-option__item:hover .option__subnav {
    display: block;
}

header .list-option__item-phone {
    display: flex;
    flex-direction: column;
    max-width: 119px;
}

header .list-option__item-login {
    display: flex;
    flex-direction: column;
}

:focus-visible {
    outline: none;
}

header .list-option {
    list-style-type: none;
    display: flex;
    height: 36px;
}

header .list-option__option {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
    border-radius: 10px;
    text-decoration: none;
}

header .list-option__item:hover {
    background: hsla(0,0%,100%,.2);
    cursor: pointer;
}

header .list-option__option .option__icon-home,
header .list-option__option .option__icon-phone,
header .list-option__option .option__icon-pen,
header .list-option__option .option__icon-cart,
header .list-option__option .option__icon-user {
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
}

header .list-option__option .option__icon-arrow-user {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
}

header .option_contain-circle {
    position: relative;
}

header .option__home {
    background-image: url('../../../public/home.png');
}
header .option__phone {
    background-image: url('../../../public/arrow.png');
}
header .option__pen {
    background-image: url('../../../public/pen.png');
}
header .option__cart {
    background-image: url('../../../public/cart.png');
}
header .option__user {
    background-image: url('../../../public/user.png');
}

header .circle-yellow {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #FDD835;
    right: -4px;
    top: -3px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    font-weight: 600;
    border-radius: 7px;
}

header .list-option__option p {
    color: white;
    margin-left: 5px;
    font-size: 17px;
    display: inline-block;
    margin-top: 2px;
}

header .list-option__login {
    position: relative;
}

header .option__subnav {
    list-style-type: none;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    display: none;
}

header .list-option__item-phone .option__subnav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-left: 10px;
    display: inline-block;
    line-height: 20px;
    padding: 10px 0px 10px 20px;
    width: 100%;
}

header .list-option__item-login .option__subnav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-left: 5px;
    line-height: 20px;
    width: 100%;
}

header .list-option__item-login .option__subnav > li {
    display: flex;
    padding-left: 20px;
    padding: 10px 0px 10px 20px;
    align-items: center;
}

header .option__subnav > li:not(:first-child) {
    border-top: 1px solid rgb(222, 222, 222);
}

header .option__subnav > li:hover {
    background-color: rgba(26, 148, 255, 0.4)
}

.subnav-icon-profile,
.subnav-icon-logout {
    height: 23px;
    width: 23px;
    display: inline-block;
}



