.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
}

.chat .chat__with {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 40px;
    gap: 10px;
}

.chat .chat__with img {
    width: 45px;
    height: 45px;
    background-color: #efefef;
    border-radius: 50%;
}

.chat .chat__boxchat {
    background-color: #f2f8ff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat .list-message {
    padding: 20px 30px;
    height: 82vh;
    overflow-y: auto;
}

.chat .input-message {
    display: flex;
    background-color: white;
    border-top: 1px solid #cacaca;
    align-items: center;
    height: 10%;
}

.chat .input-message input {
    font-size: 16px;
    width: 100%;
    border: none;
    padding: 10px 20px;
    
}



.chat .input-message .icon__send {
    width: 25px;
    height: 25px;
    margin-right: 30px;
}

.chat .input-message .icon__send:hover {
    color: #2e9eff;;
    transition: ease 0.3s;
}