.aboutUs {
  margin: 1.8rem 0;
  background: linear-gradient(
    180deg,
    rgba(37, 95, 227, 0.0225806) 0.01%,
    rgba(81, 39, 234, 0) 0.14%,
    rgba(92, 130, 217, 0.12846) 38.54%,
    rgba(6, 80, 249, 0.3) 96.87%,
    rgba(6, 80, 249, 0.3) 100%
  );
}

.aboutUs h2 {
  text-align: center;
  margin : 2rem 0;
}

.aboutUs .content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 3rem;
}

.aboutUs .content .image {
  display: flex;
  justify-content: flex-end;
}

.aboutUs .content img {
  width: 526px;
  height: 204px;
}

.aboutUs .content .description {
  display: flex;
  align-items: center;
}

.aboutUs .content p {
  line-height: 1.75rem;
  font-style: normal;
}

.aboutUs .border {
  border-bottom: 2px dashed #000;
  gap: 3rem;
  padding: 1rem;
  width: 90%;
  margin-left: 5rem;
}

.aboutUs .user {
  display: flex;
}

.aboutUs .user .usercontent {
  margin: 0 auto;
  display: flex;
  gap: 12rem;
  padding-bottom: 3rem;
}

.aboutUs .usercontent .format {
  text-align: center;
}

.aboutUs .usercontent img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.aboutUs .usercontent h4 {
  margin: 1rem 0;
}

.aboutUs .usercontent p {
  text-align: center;
  font-style: italic;
}
