.section {
  display: flex;
  margin: 0 100px;
  /* overflow: hidden; */
}

.banner {
  width: 100%;
  margin: 4rem auto 0;
  display: flex;
  gap: 4px;
  height: 270px;
}
 
.main-banner {
  /* min-width: 900px; */
  width: 66.67%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.sub-banner {
  display: flex;
  width: 33.33%;
object-fit: cover;
  height: 100%;
  flex-direction: column;
  gap: 4px;
}

.sub-banner-img {
  object-fit: cover;
  height: calc(50% - 2px);
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

.prev,
.next {
  position: absolute;
  top: 170px;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  display: none;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: initial;
  width: 2.1875rem;
  height: 3.75rem;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.section:hover ~ .prev,
.prev:hover,
.section:hover ~ .next,
.next:hover {
  display: block;
}

.prev {
  left: 5.7%;
}

.next {
  right: 35.2%;
}
