.gridContainer {
    box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 2.4rem;
    border-radius: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gridContainer h1 {
    text-align: center;
    color: #606060;
    padding-bottom: 2rem;
  }
  
  .gridContent input {
    width: 100%;
    border-radius: 0.4rem;
    border: 0.05rem solid #ccc;
    color: #999;
  }
  
  .gridContainer .btnCofirm button {
    background-color: #1a94ff;
    border: none;
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.4rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  